.fullscreen {
  height: 100vh;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 30px;
}
.profile-icon {
  background-color: white;
  border: white;
  color: white;
}

/* HomePage */
.home {
  margin-left: 20px;
  margin-right: 30px;
  padding: 20px;
}

.home-btn {
  border-radius: 50px;
  width: 350px;
  height: 75px;
  background-color: rgba(62, 60, 60, 0.959);
}
.home-icon {
  display: inline-flex;
}
.home-icon div {
  margin-left: 20px;
  margin-right: 30px;
  justify-content: space-evenly;
}
.home-icon div p {
  padding: 20px;
}

/* How are People Achieving*/
.home-pics {
  display: inline;
}

.home-pics div {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.home-pics div h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.home-pics div p {
  font-weight: 200;
}
.pics div {
  text-align: center;
}
.pic {
  width: 200px;
  height: 200px;
  border: 5px solid white;

  margin-bottom: 20px;
}
/* Goal HomePage*/
.goals {
  display: inline;
}
.goals h3 {
  text-align: center;
  margin-bottom: 20px;
}
.goals p {
  font-weight: 200;
  text-align: center;
}
.goal-btns {
  text-align: center;
}

.goal-btns button {
  border-radius: 40px;
  width: 150px;
  height: 50px;
  background-color: whitesmoke;
  border: 1px rgba(62, 60, 60, 0.959) solid;
  margin: 10px;
}
/* Statistics*/
.stats {
  height: 500px;
}
.stats h3 {
  text-align: center;
  margin-bottom: 20px;
}
.stats p {
  font-weight: 200;
  text-align: center;
}
.pie {
  display: flex;
  justify-content: center;
}
.piechart {
  margin-top: 30px;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(white 1deg, pink 19deg, lightblue 80deg);
}

.percentage {
  display: flex;
  margin-top: 275px;
}
.percentage p {
  margin-left: 10px;
  text-align: left;
}
.p-blue {
  height: 20px;
  width: 20px;
  border: 1px solid lightblue;
  border-radius: 50%;
  background-color: lightblue;
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px;
}
.p-pink {
  height: 20px;
  width: 20px;
  border: 1px solid pink;
  border-radius: 50%;
  background-color: pink;
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px;
}
.p-white {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
/* Testimonials Carousel*/

.testimonials h3 {
  text-align: center;
  padding-top: 30px;
  color: rgba(70, 63, 63, 0.959);
}
.t-box {
  text-align: center;
  padding: 20px 20px 10px 20px;
}

.pic-t {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

/* Footer */

.footer {
  display: flex;
  background-color: darkgrey;
  height: 50px;
  justify-content: space-around;
}
.footer p {
  margin: 15px 20px;
}
/*SignUp*/
.signUp {
  width: 100%;
  display: flexbox;
}

.signUp h6 {
  text-align: center;
}
.signUp p {
  text-align: center;
  font-weight: 100;
}
.signUp div {
  padding: 10px 30px;
}
.label {
  border-radius: 10px;
}
.signUp-btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.text {
  padding-left: 5px;
}
/* Login */
.login {
  width: 100%;
  display: flexbox;
}
.login h1 {
  text-align: center;
  padding: 20px;
  margin-right: 30px;
}

.login div {
  padding: 10px 30px;
}
.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.login-op {
  color: rgb(52, 102, 155);
  margin: 5px;
}
/* Nav and Nav-1*/
.nav-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 30px;
  border-bottom: 1px solid lightgray;
}
